<!DOCTYPE html>
<html ng-app="ManifestDataModule"><lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>产品出库</title>
    <link rel="shortcut icon" href="icons/favicon.ico" />
    
    <!-- Bootstrap -->
    <link href="../../lib/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

    
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="../../lib/angular-1.4.5/angular.min.js"></script>
    <script src="js/ManifestDataModule.js"></script>

  </head>
  <body ng-controller="MyFilterDemoCtrl" >
	<nav class="navbar navbar-inverse navbar-fixed-top">
	
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

	<div class="container">

      <div class="starter-template">
        <h1>仓库的出库表单创建</h1>
        <p class="lead">点击新建有惊喜实现.<br> 点击保存有惊喜出现.</p>
      </div>

    </div><!-- /.container -->


    
	<form class="form-horizontal" role="form" ng-submit="create()">
    <fieldset>

        <div class="form-group">
            <label for="ManifestNum"  class="col-md-1 control-label">订单编码：</label>
            <div class="col-md-2">
                <select id="ManifestNum" class="form-control" ng-model="seleted" ng-options="a.ManifestNum for a in SelectItem">
                    
                </select>
            </div>
            <label for="Wearhouse"  class="col-md-1 control-label">仓库：</label>
            <div class="col-md-2">
                <select id="Wearhouse" class="form-control" ng-model="seleted" ng-options="a.Wearhouse for a in SelectItem">
                    
                </select>
            </div>
            <label for="Handler"  class="col-md-1 control-label">经手人：</label>
            <div class="col-md-2">
                <select id="Handler" class="form-control" ng-model="seleted" ng-options="a.Handler for a in SelectItem">
                   
                </select>
            </div>
            <label for="HandlingData"  class="col-md-1 control-label">经办日期：</label>
            <div class="col-md-2">
                <input id="HandlingData"  type="date"/>

            </div>
        </div>
        <div class="form-group">
            <label for="State"  class="col-md-1 control-label ">状态：</label>
            <div class="col-md-2">
                <input class="form-control " id="State" type="text" placeholder="我只能读不可编辑" disabled/>

            </div>
            <label for="Remark"  class="col-md-1 control-label">备注：</label>
            <div class="col-md-7">
                <input class="form-control disabled" id="Remark" type="text" />

            </div>
        </div>
		 
		 <!-- <button ng-click="showHideColors()" type="button">
		         点我
		 		</button> -->	
        <div class="btn-group col-lg-push-1" >
            <button type="submit" class="btn btn-default btn-sm" >新建</button>
            <button type="button" class="btn btn-default btn-sm" >保存</button>
            <button type="button" class="btn btn-default btn-sm" disabled="disabled">删除</button>
            <button type="button" class="btn btn-default btn-sm" disabled="disabled">确定</button>
            <button type="button" class="btn btn-default btn-sm" disabled="disabled">导出excel</button>
            <button type="button" class="btn btn-default btn-sm" disabled="disabled">出库</button>
        </div>
    </fieldset>




	
	<div class="errorMessage" ng-show="showErrorMessage">
    {{errorsMessage}}
	<br/>
	</div>
	<div class="successMessage" ng-show="showSuccessMessage">
	{{successMessage}}    
	</div>

</form>
   

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../lib/bootstrap-3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>