    <div class="wrapper">
        <div class="head">
            <h4>操作明细</h4>
        </div>
        <div class="container" >
            <form  ng-submit="register()" novalidate>
                <table >
                <tr>
                    <td>名称：</td>
                    <td colspan="2" ><input name="name" id="name" ng-model="name"  required/></td>
                </tr>
                <tr>
                    <td >明细：</td>
                    <td colspan="1" >
                    <textarea  name="detailed" id="detailed" rows="4" cols="100%" ng-model= "detailed" required></textarea>
                    </td>
                    <td colspan="1">
                    <a href="#">
                        <img src="images/meitai.jpg" width="50px" height="50" >
                    </a>
                    </td>
                </tr>
                <tr>
                    <td >批示：</td>
                    <td colspan="2">
                    <textarea  name="instructions" ng-model="instructions" id="instructions" rows="4"  required></textarea>
                    </td>
                </tr>
                </table>
                <div class="btn-group col-xs-offset-1 ng-cloak" role="group" ng-cloak>
        <!-- <button type="button" class="btn btn-default" ng-click="showInput()"> -->
                    <button type="submit" class="btn btn-default">{{isHidden ? '提交' : '隐藏'}}
                    </button>
                </div>
                <div class="foot">
                    <button>通过</button>
                    <button>驳回</button>
                </div>
            </form>
    </div>

    </div>