<div class="color">
<div class="container">

      <div class="starter-template">
        <h1>仓库的出库表单创建</h1>
       
      </div>

    </div><!-- /.container -->


    
	<form class="form-horizontal" role="form" ng-submit="create()">
    <fieldset>

        <div class="form-group">
            <label for="ManifestNum"  class="col-md-1 control-label">订单编码：</label>
            <div class="col-md-2">
                <select id="ManifestNum" class="form-control" ng-model="seleted" ng-options="a.ManifestNum for a in SelectItem">
                    
                </select>
            </div>
            <label for="Wearhouse"  class="col-md-1 control-label">仓库：</label>
            <div class="col-md-2">
                <select id="Wearhouse" class="form-control" ng-model="seleted" ng-options="a.Wearhouse for a in SelectItem">
                    
                </select>
            </div>
            <label for="Handler"  class="col-md-1 control-label">经手人：</label>
            <div class="col-md-2">
                <select id="Handler" class="form-control" ng-model="seleted" ng-options="a.Handler for a in SelectItem">
                   
                </select>
            </div>
            <label for="HandlingData"  class="col-md-1 control-label">经办日期：</label>
            <div class="col-md-2">
                <input id="HandlingData"  type="date"/>

            </div>
        </div>
        <div class="form-group">
            <label for="State"  class="col-md-1 control-label ">状态：</label>
            <div class="col-md-2">
                <input class="form-control " id="State" type="text" placeholder="我只能读不可编辑" disabled/>

            </div>
            <label for="Remark"  class="col-md-1 control-label">备注：</label>
            <div class="col-md-7">
                <input class="form-control disabled" id="Remark" type="text" />

            </div>
        </div>
		 
			
        <div class="btn-group col-lg-push-1" >
            <button type="submit" class="btn btn-default btn-sm" >新建</button>
            <button type="button" class="btn btn-default btn-sm" disabled="disabled">保存</button>
            <button type="button" class="btn btn-default btn-sm" disabled="disabled">删除</button>
            <button type="button" class="btn btn-default btn-sm" disabled="disabled">确定</button>
            <button type="button" class="btn btn-default btn-sm" disabled="disabled">导出excel</button>
            <button type="button" class="btn btn-default btn-sm" disabled="disabled">出库</button>
        </div>
    </fieldset>





	   
 </form>
 </div>
