body {
  padding-top: 50px;
  background: white;
  border-color:#99bce8;

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.form-control input-sm{
	width:415px;
	border-color:#c30;
	background-position: bottom;
}
