<!DOCTYPE html>
<html lang="zh-CN" ng-app="myAppModule">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>岗位管理 by 1314080901221</title>
    <link rel="shortcut icon" href="icons/favicon.ico" />
    <script src="../../lib/angular-1.4.5/angular.min.js"></script>
    <script src="js/myAppModule.js"></script>
    <!-- Bootstrap -->
    <link href="../../lib/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    .style1{
      width:200px
      }
      body{
        background-color:#838B83
      }
    </style>
  </head>

  <body ng-controller="MyFilterDemoCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" align="center">
      <div style="width:330px; height:500px; background:#FFFFFF;" align="center" >
        <h3 style="background-color:#FFF0F5;">岗位管理</h3>
        <hr/>
        <form ng-submit="register()" novalidate>
          <P>所属部门：       
            <select name="bumen"class="style1" style="width:200px" ng-model="gangwei.department" >
              <option >请选择</option>
              <option>人事</option>
              <option>仓库</option>
            </select>
          </P>
          <p>岗位名称：<input class="style1" placeholder="input" ng-model="gangwei.job_name"/></p>
          <p>岗位层次：<input class="style1" ng-model="gangwei.job_level"/></p>
          <p>岗位类型：<input class="style1" ng-model="gangwei.job_type"/></p>
          <p>基本薪资：<input class="style1" ng-model="gangwei.salary"/></p>
          <p>岗位职责：<input class="style1" ng-model="gangwei.job_statement" style="height:70px;"/></p>
          <button ng-click="showInput()" type="summit" >{{isHidden ? '提交' : '返回'}}</button>
          <button>重置</button>
        </form>
        <div ng-hide="isHidden">
        <p >
          <div ng-hide="isHidden">您输入的数据为：</div>    
          <div ng-hide="isHidden">所属部门：->{{gangwei.department}}</div>
          <div ng-hide="isHidden">岗位名称：->{{gangwei.job_name}}</div>
          <div ng-hide="isHidden">岗位层次：->{{gangwei.job_level}}</div>
          <div ng-hide="isHidden">岗位类型：->{{gangwei.job_type}}</div>
          <div ng-hide="isHidden">基本薪资：->{{gangwei.salary}}</div>
          <div ng-hide="isHidden">岗位职责：->{{gangwei.job_statement}}</div>
        </p>
        </div>
      </div>

    </div><!-- /.container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../lib/bootstrap-3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
