body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.ng-cloak{display:none;}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 100px; left: 0; bottom: 0; right: 0;
}