<!DOCTYPE html>
 <html ng-app="salesIncomeModule"> <head lang="en">
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
     <title>新增销售收款单by 1314080901231</title>
     <link rel="shortcut icon" href="icons/favicon.ico" />
          
     <!-- Bootstrap -->
     <link href="../../lib/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
      
     <!-- Custom styles for this template -->
     <link href="css/style.css" rel="stylesheet">
      
     <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
     <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
     <!--[if lt IE 9]>
+       <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
+       <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
+     <![endif]-->
   </head>
   <body ng-controller="createSalesIncomeCtrl">
     <nav class="navbar navbar-inverse navbar-fixed-top">
                   <ul class="nav navbar-nav">
             <li class="active"><a href="#">Home</a></li>
             <li><a href="#about">About</a></li>
             <li><a href="#contact">Contact</a></li>
           </ul>
         </div><!--/.nav-collapse -->
       </div>
     </nav>
      
     <div class="container">
     
       <div class="starter-template">
         <h1>Bootstrap starter template</h1>
         <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>       
       </div>

<div class="container">
    <div class="row col-lg-offset-2">
        <form class="form-inline" role="form">

            <div class="form-group row">
                <div class="row">
                    <label for="example1">单位名称：</label>
                    <input type="text" class="form-control input-sm" ng-model="UnitName" id="example1"/>
                     
                     <label for="example1">收款方式：</label>
                    <input type="text" class="form-control input-sm" ng-model="CollectMode" id="example1"/>

                    <label for="example2">收款日期：</label>
                    <input type="text" class="form-control input-sm" ng-model=" CollectDay" id="example2"/>

                     <label for="example2">经手人：</label>
                    <input type="text" class="form-control input-sm" ng-model="jingshouren" id="example2"/>

                        <label for="example2">收款金额：</label>
                    <input type="text" class="form-control input-sm" ng-model="shoukuanyue" id="example2"/>


                    <label for="example3">收款账户：</label>
                    <input type="text" class="form-control input-sm" ng-model="shoukuanzhanghu" id="example3"/>
                </div>
            </div>
            <br>
            <br>

            <div class="form-group row">
                <div class="row">
                    <label for="example4">银行账号：</label>
                    <input type="text" class="form-control input-sm" ng-model=" yinhangzhnanghu" id="example4"/>

                    <label for="example5">状态：</label>
                    <input type="text" class="form-control input-sm" ng-model="zhuangtai" id="example5"/>

                    <label for="example2">核销金额：</label>
                    <input type="text" class="form-control input-sm" ng-model=" hexiaoyue" id="example2"/>

                    <label for="example6">备注：</label>
                    <input type="text" class="form-control input-sm" ng-model="beizhu" id="example6"/>
                </div>
            </div>

             <!--   <button ng-click="showHideColors()" type="button">
        {{isHidden ? 'Show Available Colors' : 'Hide Available Colors'}}
    </button>
    <div id="red" ng-hide="isHidden">Red</div>
    <div id="green" ng-hide="isHidden">Green</div>
    <div id="blue" ng-hide="isHidden">Blue</div>
    <div id="purple" ng-hide="isHidden">Purple</div>
    <div id="gray" ng-hide="isHidden">Dark Slate Gray</div>
    <div id="olive" ng-hide="isHidden">Olive</div>
        -->
        </form>
    </div>
</div>

      
     </div><!-- /.container -->
      <h2>AngularJS Socks</h2>
   <p>Keep warm this winter with our 100% wool, 100% cool, AngularJS socks!</p>
     <div color-list colors="colorsArray"></div>
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->        
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script> 
     <!-- Include all compiled plugins (below), or include individual files as needed -->
     <script src="../../lib/bootstrap-3.3.5/js/bootstrap.min.js"></script>
     <script src="../../lib/angular-1.4.5/angular.min.js"></script>
        <script src="js/salesIncomeModule.js"></script>

   </body>
 </html> 