body { margin:0px; padding:20px; padding-top:0px; width:700px;
       font-family:verdana,arial,sans-serif; font-size:18px; }
h1   { margin:0; margin-top:10px; margin-bottom:20px; font-size:30px;  }
code { font-size:1.3em; font-weight:bold; padding:2px 5px;   }
p    { margin:0; }