<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>财务-费用单 1314080901141</title>
    <link rel="shortcut icon" href="icons/favicon.ico" />
    
    <!-- Bootstrap -->
    <link href="../../lib/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="../../lib/angular-1.4.5/angular.min.js"></script>>
    <script src="js/myAppModule.js"></script>>
    <script src="js/rejectRequestModule.js"></script>
  </head>
  <body ng-app="rejectRequestModule" ng-controller="MyFilterDemoCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

    </div><!-- /.container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../lib/bootstrap-3.3.5/js/bootstrap.min.js"></script>


	<label>单据信息</label>

	<form class="form-inline" role="form" ng-submit="register()" novalidate>
	   <div>
		   <div class="form-group">
		      <label for="category">费用类别:</label>
		      <input type="text" class="form-control" id="category" 
		         ng-model="data.category" required>
		   </div>
		   <div class="form-group">
		      <label for="department">报账单位:</label>
		      <input type="text" class="form-control" id="department" 
		         ng-model="data.department" required>
		   </div>
		   <div class="form-group">
		      <label for="receiverName">报账人:</label>
		      <input type="text" class="form-control" id="receiverName" 
		         ng-model="data.receiverName" required>
		   </div>
		   	<div class="form-group">
		      <label for="costDateString">报账日期:</label>
		      <input type="text" class="form-control" id="costDateString" 
		         ng-model="data.costDateString" required>
		    </div>
	    </div>
	    <div>
		   <div class="form-group">
		      <label for="money">报账金额:</label>
		      <input type="text" class="form-control" id="money" 
		         placeholder="">
		   </div>
		   <div class="form-group">
		      <label for="total">实付金额:</label>
		      <input type="text" class="form-control" id="total" 
		         ng-model="data.total" required>
		   </div>
		   <div class="form-group">
		      <label for="statusText">状态 :</label>
		      <input type="text" class="form-control" id="statusText" 
		         placeholder="">
		   </div>
		   	<div class="form-group">
		      <label for="remark">备注 :</label>
		      <input type="text" class="form-control" id="remark" 
		         ng-model="data.remark" required>
		    </div>
		</div>

		<button type="submit" class="btn btn-default">新增</button>

		<div class="btn-group ng-cloak" role="group" ng-cloak>
        <!-- <button type="button" class="btn btn-default" ng-click="showInput()"> -->
         	<button type="submit" class="btn btn-default">
            	{{isHidden ? '提交' : '隐藏'}}
         	</button>
     	</div>

   		<button type="submit" class="btn btn-default">保存</button>
   		<button type="submit" class="btn btn-default">确认</button>
   		<button type="submit" class="btn btn-default">删除</button>
   		<button type="submit" class="btn btn-default">导出Excel</button>
	</form>

	<div class="container col-xs-offset-3 ng-cloak" ng-cloak>
    <p class="lead">
    <div ng-hide="isHidden">您输入的数据为：</div>
    <div id="category" ng-hide="isHidden">费用类别:{{data.category}}</div>
    <div id="department" ng-hide="isHidden">报账单位:{{data.department}}</div>
    <div id="receiverName" ng-hide="isHidden">报账人:{{data.receiverName}}</div>
    <div id="costDateString" ng-hide="isHidden">报账日期:{{data.costDateString}}</div>
    <div id="total" ng-hide="isHidden">实付金额:{{data.total}}</div>
    <div id="remark" ng-hide="isHidden">备注:{{data.remark}}</div>

   
    </p>
    </div>




  </body>
</html>