<!DOCTYPE html>
<html ng-app="Processingflow">
<head lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>流程->审核查询待处理流程列表 by 1314080901227</title>
    <link rel="shortcut icon" href="icons/favicon.ico" />
    
    <!-- Bootstrap -->
    <link href="../../lib/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">

  </head>
  <body ng-controller="ProcessingflowCtrl">

  <!-- 表单   -->
<div class="classone">
  <form class="form-horizontal">
    <fieldset>
      <div id="legend" class="">
        <legend class="">操作明细</legend>
      </div>
    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">名称：</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge">
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">明细：</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge">
            <p class="help-block"></p>
          </div>
    
          <button class="btn btn-default">详细数据（PDF）</button>

    </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">批示</label>
          <div class="controls">
            <input type="text" placeholder="" class="input-xlarge">
            <p class="help-block"></p>
          </div>
    </div>

    </fieldset>
  </form>
</div>
    <!-- 表单 -->
   <!--  <div class="operation_details">
      
      <div class="head">
        <h4>操作明细</h4>
      </div>

      <div class="container">
        <form>
          <table>
            
            <tr>名称：
              <td colspan="2">
                <input name="name" id="name" ng-model="name"></td>
            </tr>

            <td>明细：
              <td colspan="1" >
                <textarea  name="detailed" id="detailed" rows="4" cols="100%" ng-model="detailed">{{data.detailed}}</textarea>
              </td>
            </td>

            <td colspan="1">
              <button>详细数据（PDF）</button>
            </td>

            <tr>
              <td>批示：</td>
              <td colspan="2">
                <textarea  name="instructions" ng-model="instructions" id="instructions" rows="4" ><span ng-bind="data.instructions"></span></textarea>
              </td>
            </tr>

          </table>

          <div class="btn-group col-xs-offset-1 ng-cloak" role="group" ng-cloak>
            <button type="button" class="btn btn-default" ng-click="showInput()">
              {{isHidden ? '提交' : '隐藏'}}
            </button>
          </div>

          <div class="foot">
            <button>通过</button>
            <button>驳回</button>
          </div>

        </form>
        
      </div>

    </div> -->

    <div class="container col-xs-offset-3 ng-cloak" ng-cloak>
      <p class="lead">
        <div ng-hide="isHidden">您输入的数据为：</div>
        <div id="name" ng-hide="isHidden">名称：{{name}}</div>
        <div id="detailed" ng-hide="isHidden">明细：{{detailed}}</div>
        <div id="instructions" ng-hide="isHidden">批示：{{instructions}}</div>
      </p>
    </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../lib/bootstrap-3.3.5/js/bootstrap.min.js"></script>
    <script src="js/Processingflow.js"></script>
  </body>
</html>
